/* RESET CSS */
@import url("http://fonts.cdnfonts.com/css/abraham");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  overflow-x: hidden;
}

::-webkit-scrollbar{
  width: 7px;
}

::-webkit-scrollbar-thumb{
  background: var(--cor-primaria);
  border-radius: 1000px
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--bg-primario);
}

:root{
  --cor-primaria: #FF8080;
  --lilas-secundario: #CFB3FF;
  --amarelo-secundario: #FFF0CC;
  --texto-primario: #E6E6E6;
  --placeholder-color: #808080;
  --bg-primario: #151219;
  --bg-secundario: #1D1B26;
  --lilas-placeholder: #917DB2;
  --bg-red: #261313; 
  --grey: #B2B2B2;
  --font-principal: "Abraham", sans-serif;
  --font-secundaria: "Inter", sans-serif;
}


/*--- Formatações Header ---*/
.cont_header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  position: absolute;
  z-index: 99;
  background-color: var(--bg-primario);
}

.header_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1400px;
  height: inherit;
}

.header_items span {
  color: var(--texto-primario);
  font-size: 2rem;
  font-family: var(--font-principal);
}

.lista { 
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 70px;
}


.lista li a{
    color: var(--grey);
    font-weight: 600;
    font-size: 1rem;
    padding: 0 1rem 0 1rem;
    font-family: var(--font-secundaria); 
    position: relative;
    transition: all ease .4s;
}

.lista li a:hover {
  color: var(--texto-primario);
}

.lista li a::after{
  content: '';
  width: 0%;
  height: 2px;
  left: 50%;
  right: 50%;
  background-color: var(--cor-primaria);
  position: absolute;
  bottom: -10px;
  transition: all ease .4s;
}

.lista li a:hover::after{
  width: 100%;
  left: 0%;
  right: 0%;
  
}

.lista li a.active {
  color: var(--cor-primaria);
  background-color: rgba(255, 128, 128, .17);
  padding: .4rem .6rem;
  border-left: 4px solid var(--cor-primaria);
  font-weight: 400;
  box-shadow: 0px 0px 10px rgba(255, 128, 128, 0.2); 
  z-index: -1;
  
}

.acesso {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.btn-entrar {
  background-color: transparent;
  border: 1px solid var(--cor-primaria);
  font-family: var(--font-secundaria);
  color: var(--cor-primaria);
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 12px;
  border-radius: 3px;
  margin-left: 20px;
  width: 100%;
  cursor: pointer;
  box-shadow: 0px 0px 15px rgba(255, 128, 128, 0.3);
  transition: all ease .4s;
  z-index: 1;
}

.btn-entrar:hover {
  background-color: var(--cor-primaria);
  color: var(--texto-primario);
}

.btn-criar {
  font-family: var(--font-secundaria);
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--grey);
  transition: all ease .2s;
}

.btn-criar i {
  margin-right: 3px;
  color: var(--cor-primaria);
}

.btn-criar:hover {
  color: var(--texto-primario);
}


/*--- Formatações introdução---*/

.cont_intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url(../img/Linhas.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.intro_text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}


.intro_text h1 {
  font-family: var(--font-principal);
  font-size: 2.3rem;
  letter-spacing: 3px;
  margin-bottom: .3rem;
  font-weight: 400;
  background: linear-gradient(91.21deg, #FF3370 -4.21%, #FF8080 97.92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro_text h2 {
  font-family: var(--font-principal);
  font-size: 2.7rem;
  font-weight: 300;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: .5rem;

}

.intro_text p {
  max-width: 800px;
  font-family: var(--font-secundaria);
  font-size: 1rem;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--grey);
}

.search {
  display: flex;
  align-items: center;
  width: 400px;
  height: 45px;
  background-color: var(--bg-secundario);
  padding-right: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.search input{
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 0px 15px 0 15px;
  color: var(--texto-primario);
}

.search input::placeholder{
  color: var(--grey);
}

.search i {
  cursor: pointer;
  color: var(--cor-primaria);
  transition: all ease .3s;
}

.search i:hover {
  transform: scale(1.1);
}

.scroll-indicador {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom:  0;
  margin-bottom: 20px;
}

.linha {
  width: 690px;
  height: 1px;
  margin: 0 20px;
  background-color: rgba(145, 125, 178, 0.6);
}

.scroll-indicador i {
  color: var(--lilas-secundario);
  animation: indicadorAnimado 1.5s infinite;
  text-shadow: 1px 1px 15px rgba(145, 125, 178, 1);
}

@keyframes indicadorAnimado{
  0%, 100%{
    opacity: 0;
  }

  50%{
    opacity: 1;
  }
}


/*--- Introdução negocio --*/

.intro_negocio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1400px;
  height: 60vh;
  background-color: var(--bg-primario);
  
}

.principios, .valores, .missoes {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  width: 450px;
  height: 450px;
  cursor: pointer;

  /*background-color: var(--bg-primario);*/
}

.missoes {
  width: 420px;
}

.intro_items {
  display: flex;
  flex-direction: column;
  height: 420px;
  margin-left: 30px;
}

.circulo1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--lilas-secundario);
  font-family: var(--font-secundaria);
  font-size: .8rem;
  font-weight: bold;
  text-shadow: 1px 1px 25px rgba(145, 125, 178, 1);
  box-shadow: 1px 1px 25px rgba(145, 125, 178, 1);
  width: 35px;
  height: 35px;
  background-color: #1D1B26;
  border-radius: 50%;
  border: 2px solid var(--lilas-placeholder);
}

.circulo2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  background-color: #534866;
  border-radius: 50%;
}

.circulo3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  background-color: #292433;
  border-radius: 50%;
}

.principios h3, .valores h3, .missoes h3 {
  margin: 1rem 0;
  font-family: var(--font-principal);
  font-weight: 400;
  font-size: 22px;
  letter-spacing: .4em;
  color: var(--placeholder-color);
  transition: .3s ;
}

.principios p, .valores p, .missoes p {
  font-family: var(--font-secundaria);
  font-weight: 300;
  font-size: 1rem;
  text-align: justify;
  margin: .5rem 0;
}

.linha-vert {
  width: 7px;
  border-radius: 3px;
  height: 50%;
  background-color: rgba(145, 125, 178, .5);
  box-shadow: 1px 1px 15px rgba(145, 125, 178, .6);
  transition: .3s ;
}

.titutloActive {
  background: linear-gradient(91.47deg, #F080FF 0%, #D0B3FF 99.64%, #CFB3FF 99.65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent; 
}


.textColor {
  color: var(--placeholder-color);
  transition: .3s ;
}
.textoActive {
  color: var(--texto-primario);
}


.borderActive {
  background-color: rgba(145, 125, 178, 1);
}


/*--- Inicio progress bar ---*/
.cont_progressBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  background-color: var(--bg-secundario);
}

.progress_items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1400px;
  height: inherit;
}

.progress1, .progress2, .progress3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70%;
  width: 30%;
  margin: 0 20px;
}

.progress1 h3, .progress2 h3, .progress3 h3{
  font-family: var(--font-principal);
  font-size: 2.2rem;
  color: var(--lilas-placeholder);
  margin-bottom: 15px;
}

.circuloExterno {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid var(--lilas-secundario);
}

.circuloIterno {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #151219;
  border: 5px solid var(--lilas-secundario);
  box-shadow: 1px 1px 15px rgba(145, 125, 178, .7);
}

.circuloIterno span {
  font-size: 2rem;
  font-family: var(--font-secundaria);
  font-weight: 500;
  color: var(--lilas-secundario);
}













